
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>OUR MISSION:</b><br />
    Presenting India in a way never seen before...!<br />
    In a country with such varied landscapes, cultures and demographics, the mystical lands of India promises tremendous travel opportunities for every taste and budget. We are Let's Go Travel And we believe in presenting India in a way that is unique, virgin and welcoming; a refreshing revelation for even the most seasoned travelers.
</p>
<p><b>Why India?</b><br />
 Is there a place other than India where you can pitch a tent right in the middle of a desert, listening to rustic folk music strumming from a distance, or trek the mighty Himalayas, "shoot" tigers and lions at will, hop in a raft and conquer rappelling waters, set up camps in rainforests AND laze around on sun-kissed beaches - all in a 10 day holiday? Here's where we rest our case!</p>

<p>A kaleidoscope of traditions, culture, and vibrant geographies, India speaks for itself as a soul-stirring journey. Snow covered peaks of Himalayas to stretch of coastline, natural greenery to depths of spirituality and clusters of cultural shades. All of these aspects join together to define the raw beauty through which India captures the heart of every tourist. Discover the different facets of this multicolored country as it shapes your vision at every of its fold. With the country's tourism branched into several forms, India has a chunk for every kind of a traveler. To get things going, here is an Let's Go Travel planner which incorporates must-visit tourist attractions, places to visit in India, how to reach and the best time to visit.</p>