
@{
    ViewBag.Title = "Agra";
}

<h1><b>AGRA</b></h1>
<img src="~/image/agra1.jpg" class="img-fluid" alt="">
<p><b><h1>Agra Toursium</h1></b></p>
<body>
    <p class="fw-lighter"><h3> Your Agra City Tour is incomplete without a visit to the Taj – the epitome of love and one of seven ancient wonders of the world. This imposing structure on the banks of the Yamuna River is an architecture marvel depicting the grandeur of the Mughal Empire. The white marble wonder of Taj Mahal is a testimony of true love and thanks to the decoration with exquisite pietradura (stone inlay) work, it shows different hues at days and nights of the year.</h3></p></body>
<img src="~/image/agra22.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<i><h3>"Epitome of the Mughal Dynasty"</h3></i>
<br />
<b><h2>AGRA FORT</h2></b>
<br />
<p>An architectural masterpiece, The Red Fort of Agra or Agra Fort was built by Emperor Akbar in 1573. It is located on the right bank of the River Yamuna and is made entirely of red sandstone. The historical fort was once the ersthwhile residence of the Mughals until 1638. One of the UNESCO World Heritage Sites, it lies 2.5 kilometres from Taj Mahal.<br /><br />
    Also known as Lal –Qila, Fort Rouge or Qila-i-Akbari, Agra Fort is a symbol of Agra and is so massive that it is often referred to as a walled city. It is the perfect example of Mughal art and architecture, built purely out of red sandstone. Within the premises of Agra Fort lie the most exquisite structures like the Pearl Mosque, Diwan-i I Khas, Diwan-i I Aam, Moti Masjid and Jahangiri Mahal. Some part of the Agra Fort is used by the Indian Army is off-limit to public access. View of Yamuna River and Taj Mahal from the fort's pavilions is mind-stirring.
<p />
<img src="~/image/tajmahal.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<i><h3>"One of the seven wonders of the world"</h3></i>
<br />
<b><h2>TAJ MAHAL</h2></b>
<br /><p>One of the seven wonders of the world, Taj Mahal is located on the banks of River Yamuna in Agra. It was built by the Mughal Emperor Shah Jahan as a memorial for his third wife, Mumtaz Mahal. It also houses the tomb of Shah Jahan himself. Constructed entirely out of white marble in the 17th century, Taj Mahal is one of the most beautiful monuments in the world. Every year visitors numbering more than the entire population of Agra pass through the magnificent gates to catch a glimpse of this breathtaking. </p></img>
<img src="~/image/agra23.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<i><h3>"The city of victory"</h3></i>
<br /><b><h2>FATHEPUR SIKRI</h2></b>
<br /><p> Located at a distance of 40km from Agra, Fatehpur Sikri is a town in the Agra district and a famous tourist attraction. A city predominantly made of red sandstone, Fatehpur Sikri was founded in 1571 century by Mughal Emperor Akbar. It is essentially a fortified city built by the king and had been the capital of his Empire for fifteen years. Now a UNESCO world heritage site, it is home to Jodha Bai's Palace, Jama Mosque, Buland Darwaza, and Tomb of Salim Chisti among many other famous monuments. Derived from Arab and central Asian tent encampments, the Imperial Complex is a work of pavilions arranged in formal geometry on a piece of land. 
<p />
<br />
<img src="~/image/agra24.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<b>
 <i><h3>"Moonlit pleasure garden"</h3></i><br />
    <h2>MEHTAB BAGH</h2><b />
    <br />
    <p class="fw-lighter">Mehtab Bagh was the last of the Mughal gardens, which were built along the River Yamuna. This crescent shaped garden is considered the ultimate spot for viewing Taj Mahal. If you are into photography, you ought to visit this garden. Unfortunately, Mehtab Bagh is just appreciated for this feature. There is a lot more to this garden than it meets your eyes and ears. Here is everything you need to know about this garden.</p><br />
    <p class="fw-lighter">Mehtab Bagh is believed to be the site where he had planned to build a black marble mausoleum for himself, a veritable twin to the Taj Mahal – in exact alignment to his wife's fabled mausoleum – until his ambitions were thwarted by his son, Aurangzeb, who imprisoned him till his death.</p>
    
    <table align="center">
        <tr>
            <td>
                <button type="button" class="btn btn-success">BOOK NOW</button>
            </td>
        </tr>
    </table>
