@{
    ViewBag.Title = "Kashmir";
}

<b><h2>Kashmir</h2></b>
<img src="~/image/kashmir21.jpg" class="img-fluid" alt="">
<p><b><h1>Kashmir Toursium</h1></b></p>
<body>
    <p class="fw-normal"

            <b>Fall in love with Kashmir with our affordable Kashmir tour packages. Kashmir is a world famous tourist destination whose beauty is not only in its landscape but also in its people and culture as well.Let's Go Travel offers the best tourism holiday packages for Kashmir that are tastefully designed for offering the best family tour, romantic honeymoon experience, thrilling trekking adventure, wildlife holiday as well as a sacred pilgrimage tour.Picturesque and enchanting, Kashmir is cradled high in the lofty green Himalayas and hailed all over the world for its incredible natural beauty. Surrounded by mountain peaks, lush green valleys, glistening lakes, temples and spectacular Mughal-era gardens, it has inspired poets through centuries. Kashmir is crisscrossed by chinar tree-lined roads and quaint wooden bridges; and is home to bustling bazaars, sufi shrines and forts. Add to this, the charms of flavourful Kashmiri cuisine and apples and walnuts from the lush orchards surrounding it.</b>
            In winter, Kashmir takes on a white glow, covered in soft snow and skiers making a beeline for its famous slopes. And in summer, as the snow melts, and the flowers in the meadows bloom, it resembles an artist's canvas

    </p>
</body>
<img src="~/image/kashmir1.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"The land of high passes"</h3></b></i>
<br />
<b><h2>DAL LAKE </h2></b>
<br />
<p>
    Reckoned to be the pride of Kashmir tourism, Dal Lake is the most popular attraction in Srinagar. Enclosed by splendid Pir Panjal mountains and Mughal Gardens, this must-see place is ideal for family vacationers, honeymoon couples, and even for solo travellers seeking peace.<br />

    Dal Lake is also one of the best locations in Kashmir for film shooting as it offers some incredible vistas of lofty rolling hills, the distant snow-capped mountains, shikaras cruising quietly and the houseboat standing still with the perfect poise.The canopied Shikaras sailing on the lake are one of the major attractions of Dal Lake. The houseboats on the lake are also the top attraction as the best accommodation option in Srinagar to the tourists.<br />

    Along with being a popular tourist attraction for nature lovers, Dal Lake even invites the fishing enthusiast with its plethora of fishes along with Carp. In addition to this, the floating vegetable and flower market is a major place to see.
</p>
<img src="~/image/kashmir.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"Paradise On Earth"</h3></b></i><br />
<b><h2>SRINAGAR</h2></b><br />
<p>
    The main draw of Sringara, the gondola-type rowboats - Shikaras are used by the tourists to see attractions like the Floating Vegetable Market, and the Mir Bahris – a lively community of people who live on the lake itself. Known as the summer capital of Jammu & Kashmir, Srinagar is home to some of the most exquisite Mughal-age gardens in India, with the top attractions being Nishat Bagh, Shalimar Bagh and Chashm-E-Shahi Garden.<br />
    Kashmiri cuisine is famous all over the globe, so when in Srinagar, trying out the local dishes, which are rich in unique fragrant spices, is a must. Srinagar is also famous for the Kashmiri shawls, Kashmiri apples and the dried fruits (almonds and walnuts) which can be bought from the Lal Chowk Market.Heavy snowfall affects the connectivity of Srinagar during the winter months of December to February.
</p>
<img src="~/image/kashmir22.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"Heart of Winter Sports in India"</h3></b></i>
<br />
<b><h2>GULMARG</h2></b><br />
<p>
    Situated at an altitude of 2730 m above sea level, Gulmarg is a popular skiing destination located in Pir Panjal Range of Union territory of Jammu and Kashmir. Surrounded by snow-covered lofty Himalayas, meadows of flowers, deep ravines, evergreen forested valleys, Gulmarg also has the world's second-highest Gondola ride.<br />
    Among one of the top honeymoon destinations in India, Gulmarg boasts of being a beautiful town without the crowd like Manali and Shimla. Gulmarg has also been developed as an adventure hub as Indian Institute of Skiing and Mountaineering is located here. A lot of courses on trekking, mountaineering, skiing, and snowboarding are offered by IISM. There are a lot of other private tour operators in Gulmarg as well which provide similar courses and facilities for skiing, snowboarding and trekking. Known for its scenic beauty, Gulmarg has also been a popular destination for shooting of various Bollywood films.
</p>
<table align="center">
    <tr>
        <td>
            <button type="button" class="btn btn-success">BOOK NOW</button>
        </td>
    </tr>
</table>



