
@{
    ViewBag.Title = "Kerala";
}

<h2><b>Kerala</b></h2>
<img src="~/image/kerrala26.jpg" class="img-fluid" alt="">
<p><b><h1>Kerala Toursium</h1></b></p>
<body>
    <p class=><h3>Kerala is blessed with a unique set of geographical features that have made it one of the most sought after tourist destinations in Asia. A long shoreline with serene beaches, tranquil stretches of emerald backwaters, lush hill stations and exotic wildlife, are just a few of the wonders. Most of the state is engulfed in rich greenery which ensures a very calming experience at all times. Bestowed with a pleasant and equable climate throughout the year, Kerala is a tropical land where one can relax and be at ease. </h3></p><br />
</body>
<img src="~/image/kerrala25.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<i><b><h3>"God's Own Country'"</h3></b></i><br />
<b><h2>MUNNAR</h2></b>
<br />
<p>A lush carpet of rolling green, interrupted by low rises of mountains of the gorgeous Western Ghats, Munnar, in Kerala, is dotted with huge emerald plantations and pristine waterfalls. No matter where you go in Munnar, a mixed scent of tea, coffee and cardamom will follow you everywhere. With a bountiful of natural treasures, Munnar leaves one rapt with its spectacular and awe-inspiring views. Such is the beauty of the myriad shades of green of the landscape that Munnar is often called the Kashmir of South India.</p>
<br />
<p>Nestled at the confluence of three gushing rivers- Mudrapuzha, Nallathanbi and Kundala-Munnar literally means three rivers. During the blooming season, every 12 years, the town of Munnar is transmogrified into an artist's canvas, when the beautiful and vibrant Neelakurinji flower carpets the land in hues of purple and blue. It is truly a sight to behold as the town acquires a paradisiacal setting.Replete with picturesque greenery, valleys and mountains along with a plethora of flora and fauna in its teeming national parks and wildlife sanctuaries, Munnar is an exhilarating and peaceful travel destination.</p>
<img src="~/image/kochi.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<i><b><h3>"Queen of the Arabian Sea"</h3></b></i><br />
<b><h2>KOCHI</h2></b>
<br />
<p>A vibrant potpourri of art, culture, food, carnivals and festivals, Kochi, sprawled along a gorgeous estuary in Kerala, is a fascinating tourist destination. Skirted by the emerald-blue Arabian Sea that laps at its golden sun-kissed beaches, the city remains suspended in time, with its colonial charm merging seamlessly with its artistic aesthetic. Established around Fort Kochi, which is the cultural nerve of the city, Kochi remains in a festive mood throughout the year. It turns into an art wonderland during the four-month-long Kochi Biennale, the largest art exhibition in India, where vibrant colours, striking images and eloquent patterns greet you at every turn. Intriguing boat rides, spiritual Onam, grand Shivaratri celebrations and the opulent Cochin Carnival, draw visitors from far and wide.</p>
<img src="~/image/kthrissur.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<i><b><h3>"Cultural apital of Kerala"</h3></b></i><br />
<b><h2>THRISSUR</h2></b>
<br />
<p>
    Often referred to as the cultural capital of Kerala, Thrissur is a centre point of energetic festivities. This city hosts its own film festival, the Thrissur International Film Festival, among many other cultural events throughout the year. It invites tourists for its rich culture and heritage as it carries a strong influence of Indian, European and Arab sources from medieval and colonial times.
    Thrissur is most popular for a form of body art that is practiced here. It is known as Puli Kali or Kaduvakali and is mostly showcased during the festival of Onam. Another festival to look out for is Thrissur Pooram, when decorated elephants march through the city to the Vadakkunnathan Temple. A visit to the Indian coffee house that was established in 1958 is also worth the while as it is called the cultural hub of the city.
</p>
<table align="center">
    <tr>
        <td>
            <button type="button" class="btn btn-success">BOOK NOW</button>
        </td>
    </tr>
</table>

