
@{
    ViewBag.Title = "Manali";
}
<b><h1>Manali</h1></b>
<img src="~/image/manali21.jpg" class="img-fluid" alt=""width="5000px"><img/> <br /><br />
<p><b><h1>Manali Toursium</h1></b></p>
<body>
    <h4><p class="fw-normal">
           The magnetic town of Manali beckons to the soul of adventurers, nature lovers as well as solace-seekers. Nestled in the Himalayas, in the north Indian state of Himachal Pradesh, Manali is a charming hill station. A part of the northern end of the Kullu Valley, it is situated by the Beas river at a height of 1,926 m above sea level. Floral meadows, gurgling streams, snow-capped mountains, lofty mountain passes, temples and Buddhist monasteries give this tiny town the allure of a fairy-tale setting.<br />
            One can explore Manali on foot, or try paragliding over its rolling green slopes and apple orchards. If you are coming here in winters, hit Manali's snow-covered slopes for skiing. Adventure enthusiasts also come here for river rafting and trekking. A potpourri of cultures and experiences, Manali is the perfect mountain getaway for everyone.
    </p></h4><br />
</body>

<img src="~/image/manali23.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /><img/> <br />
      <i><b><h3>"Valley of Gods"</h3></b></i><br />
<b><h2>KULLU</h2></b><br />
<p class="fw-lighter">
    Commonly referred to as the 'Valley of the Gods', Kullu is a veritable jewel in the crown of the state of Himachal Pradesh. Spanning over an area of 547 sq km, its marvellous landscapes, hospitable residents and a rich cultural heritage have drawn travellers for years. According to local lore, Kullu was known as Kulanthpitha in the past, meaning the end point of the inhabitable world. It also finds mention in the Hindu epics of Ramayana and Mahabharata. Historians are of an opinion that once upon a time, Kullu boasted several Buddhist monasteries, along with numerous Hindu temples, and that people of both faiths co-existed peacefully in the Kullu Valley. The valley is once said to have been rich in gold, silver, red copper, crystal and bell metal.<br />
    Its several enjoyable trekking routes, the beautiful Parbati Valley and quaint temple architecture are also very appealing. The teeming biodiversity of the Great Himalayan National Park acts as another attraction for tourists. October to February, during winters, is considered to be the best time to visit Kullu, and if you like the cold, then plan a trip in January. Kullu lies about  40 km from Manali.
</p>

<img src="~/image/manali22.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /><img/>
<br />
<i><b><h3>"The divine Beauty of Manali"</h3></b></i><br />
<b><h2>HADIMBA TEMPLE</h2></b><br />

    <p class="fw-lighter">
        A place of historical and archaeological importance, the Hadimba or Dhoongri Temple is dedicated to Goddess Hadimba, the wife of Bhima, a figure from the epic Mahabharata. It is among the most prominent temples in Manali that draws tourists both for spiritual reasons and its architectural appeal. The temple is said to have been constructed by the raja of Kullu, Maharaja Bahadur Singh, in 1553. It is a quaint structure with a four-tiered pagoda-shaped roof and a wooden doorway that is adorned with carvings of mythological figures and symbols of gods and goddesses, animals, designs resembling leaves and episodes depicting Lord Krishna’s life. The inner sanctum, however, does not house an idol.<br />
        Nestled amidst a dense deodar forest, the temple offers picturesque views to visitors, who can also walk around the temple complex and explore the nearby trails. Around 200 m south of the temple stands a scared tree, which is supposed to represent Bhima's son Gatothkach. In view of its historical and architectural importance, the temple was declared protected as a Monument of National Importance on April 18, 1967.<br />
        The temple has also featured prominently in several Bollywood movies including Roja (1992) and Yeh Jawani Hai Diwani (2013). Tourists enjoy taking pictures with white fluffy angora rabbits and yaks here.
    </p >


<img src="~/image/manali24.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /><img/>
<br />
<i><b><h3>"Ski like no one is watching."</h3></b></i><br />
<b><h2>ROHTANG PASS</h2></b><br />
    <p class="fw-lighter">
        About 51 km from Manali is the stunning 3,978-m-high Rohtang Pass, which is the gateway to Lahaul-Spiti, Pangi Valley and the Ladakh region. One of the most scenic places in the state of Himachal Pradesh, the pass remains snow-covered for most of the year and is motorable only from June to October. Lying on the watershed between the basins of the Chenab and Beas rivers, the pass makes for picturesque drives. It is said to have once served as an ancient trade route for people living on either side of the Pir Panjal range.<br />
        During summer, visitors can be seen enjoying sledge rides in the surrounding snow-covered slopes. But accessing this pass requires special permit, which is valid for only one day, and can be obtained from the Tourism Development Council. Those seeking adventure like to visit Rohtang in the month of May, when they can participate in a wide range of thrilling activities, such as snow scooter rides, skiing and mountain biking.
    </p>

<table align="center">
    <tr>
        <td>
            <button type="button" class="btn btn-success">BOOK NOW</button>
        </td>
    </tr>
</table>

