
@{
    ViewBag.Title = "Pondicherry";
}

<b><h2>Pondicherry</h2></b>

<img src="~/image/pondicheery.jpg" class="img-fluid" alt="" width="2000px" height="2000px" />
<p><b><h1>Pondicherry Toursium</h1></b></p>
<body>
    <p class="fw-lighter"> <h3> Oh the charm of the French world meeting the sea life - how can one not fall for something so surreal yet so real? The quietude of the alleys and the bustling boulevards; the amalgamation of Tamil and French cuisines and architecture; and the jaunty crowd, all make Pondicherry a compelling place to visit in India. The Union Territory of Pondicherry blessed with picturesque coastline is indeed a destination for beach lovers where they can enjoy multiple water activities. The colonial architecture compliments the beach life whereas the far situated Auroville add another dimension to Pondicherry tourism. If there is one tourist destination in India that can cater to your need for a relaxing holiday, Pondicherry has to be it.</h3> </p><br />
</body>
<img src="~/image/paradisebeach.jpg" class="img-fluid" alt="" width="500px" height="400px" />
<img />
<br />
<i><b><h3>"Plage Paradiso"</h3></b></i><br />
<b><h2>PARADISE BEACH</h2></b>
<br />
<p>
    The private Paradise Beach, an absolute must-visit, is around 8 km from the city along the Cuddalore Main Road. Only accessible from the Chunnambar Resorts by boat, the beach is well-maintained and clean. One of the best experiences is getting to the beach itself; the ferry ride across the backwaters offers scenic views of dense mangrove forests.<br />
    Guests are advised to swim closer to the shore as the tide is very strong. They can also indulge in a variety of cuisines and beverages, games like beach volleyball or, lounge and relax on the beach chairs that are laid out invitingly. All these services including the entry come at a cost. Paradise Beach is open on all seven days between nine in the mornings to five in the evenings and is a sight to behold.
</p>
<img src="~/image/rockbeach.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"Enjoy morning bliss/strolls or evening cool breeze"</h3></b></i><br />
<b><h2>ROCK BEACH </h2></b>
<br />
<p>
    Enumerated as one of the best beaches in Pondicherry, Rock Beach is a perfect getaway to lose yourself in the beauty of nature. Rock Beach is easily accessible and located in the heart of the city.If you love to capture stunning views of sunrise then you must surely visit this serene beach during early mornings. It is one of the most enticing beaches in Pondicherry where you can also grab delicious local food apart from relaxing for hours amid a peaceful ambiance.  This is definitely one of the best Pondicherry beaches that you must visit.<br />
    The beautiful surroundings of the beach take the tourists by surprise as one enjoys the occasional crashing of ocean waters with the rocks. Also known as Promenade Beach or Gandhi Beach, it is one of those Pondicherry Beaches that serves as a visual treat for both the eyes and soul.
</p>
<img src="~/image/secret.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"flea market and a surfing school"</h3></b></i><br />
<b><h2>SERENITY BEACH </h2></b>
<br />
<p>
    Pioneering the tourism scene in Pondicherry is the Serenity Beach. With exotic surrounding and serene ambiance, Serenity Beach is surely a not to miss tourist attraction in Pondicherry. Be it a family vacation or a solo trip or a group excursion this beautiful beach is the place to be for different kinds of travellers exploring Pondicherry. The chaste shoreline of Serenity Beach in Pondicherry, dotted with swathed golden sands and glistening water, boasts a perfect setting to laze away your day. The term ‘Serenity’ has wisely chosen which perfectly suits its quality of being unique, pacific and enthralling. And if you are looking out for that perfect serene coastal destination in South India to plan your honeymoon, you can consider Serenity Beach to be the place of that similar category. Along with that, the beach is also a haven for nature lovers as it has adorned with palm trees all at the long stretch of its shore which also helps cool the place.  <br />
</p>
<p>
    Serenity Beach is one of those few tourist places in Pondicherry which you can’t afford to ignore at any cost while vacationing in the city.
</p>
<img src="~/image/school.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"Your wave is waiting"</h3></b></i><br />
<b><h2> KALLIALAY SURF SCHOOL</h2></b>
<br />
<p>
    Placed 5 km northwards of Pondicherry, Kallialay Surf School was founded in the month of January in 2009 by two Spanish brothers- Juan and Samai Reboul. One of the first surf schools on the eastern coast of India, Kallialay offers all kinds of courses from beginner sessions to intensive ‘surf camps’. The two founders are passionate surfers and offer the best of experiences to the guests.<br />
    If you are a water sports enthusiast then surfing is one of the best things to do in Pondicherry. And, Kallialay Surf School is the best place to learn this art. The school has won a number of awards from several tourism boards and is a popular attraction too. They teach from beginners to advanced courses and have all the surfing equipment of international standards. There are around 6 types of classes at the school.The most booked class is the discovery session in a group (INR 1000). Its duration is 1 and a half hour. After learning basics, spend around 1 hour, enjoying the waves. The other option is the individual discovery session (INR 1500), which also has the same type of class-learning.
</p>
<table align="center">
    <tr>
        <td>
            <button type="button" class="btn btn-success">BOOK NOW</button>
        </td>
    </tr>
</table>
