
@{
    ViewBag.Title = "Rajasthan";
}

<h2><b>Rajasthan</b></h2>

<img src="~/image/rajasthan5.jpg" class="img-fluid" alt="" /><img />
<p><b><h1>Rajasthan Toursium</h1></b></p>
<body>
    <p class="fw-normal"><h3>Rajasthan is one of the most precious jewel in india's crown.From gallent palacesand histotric forts to colourful festivals and wildlife adventures,the sate is india's pride.It is said there is more history in rajasthan in the rest of all India.Rajputhana as it was called in medieval time is preserved in carefully in festivals,colors and traditions of modren state now.Endowed with natural beauty and a great history,Rajasthan has a flourshing tourism industry and every third foreign tourist visiting India also to Rajasthan. </h3></p><br />
</body>
<img src="~/image/rajistan22.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"Jaipur's magnificent iconic landmark"</h3></b></i><br />
<b><h2>HAWA MAHAL</h2></b>
<br />
<p>
    The Hawa Mahal in Jaipur is considered as one of the most iconic attractions of the city. The five-storey building looks like a honeycomb of a beehive and it is always windy inside, owing to the numerous windows and jharokhas. This amazing ventilation that the palace enjoys is the reason why it was named as the Hawa Mahal, which literally translates into the “Palace of the Winds”.<br />
    The main purpose behind the construction of this palace was to allow the ladies of the royal family and the court to observe the busy streets of the Johari Bazaar from the many jharokhas of the palace, without being seen themselves. The Hawa Mahal is a five-storey building, and it is the tallest building in the world that has been built without a foundation. It has a curved architecture that leans at an 87 degree angle, and a pyramidal shape which has helped it stay erect for centuries.<br />
    The Hawa Mahal is dedicated to Lord Krishna. It is said that the shape of the building resembles the crown of Krishna. More than a palace, the Hawa Mahal is also a cultural and architectural marvel that reflects a truly harmonious amalgamation of the Hindu Rajput and Islamic Mughal architectural styles. The Rajput style can be seen in the domes canopies and the fluted pillars, while the stone inlay filigree work and the arches are perfect depictions of the Mughal style of architecture.
</p>
<img src="~/image/rajistan21.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>" Artistic style elements "</h3></b></i><br />
<b><h2>AMBER PALACE</h2></b>
<br />
<p>
    One of the top tourist attractions of Jaipur, the huge Amer Palace Fort sits atop a small hill, and is located at a distance about 11 km from the main city. The magnificent Amer Fort is an extensive palace complex that has been built with pale yellow and pink sandstone, and with white marble. The fort is divided into four main sections that are graced with their own courtyards.As you arrive at the Amer Fort, you will enter through the Suraj Pol; unless you arrive by car, then you enter via the Chand Pol. Both these gates open into the Jaleb Chowk, which is the main courtyard, where in earlier times, returning armies used to display their plunder to the people. The fort has a number of sections, including the King’s quarters, the zenana (where the women lived), gardens, temples, etc.
    There are a lot of attractions for one to see at the Amer Fort, including the diwan-e-aam, such mandir, and the Sheesh Mahal.<br />
</p>
<p>
    Amer Fort is also home to some underground tunnels that connect Amer to Jaigarh Fort. A part of these tunnels has been restored, and is now open to public as well. Encompassing all this, the Amer Fort is a perfect example of Rajasthani architecture which is a must-visit.
    The essence of Amer Fort is encapsulated by the beautiful light and sound show within the fort, where visitors get to see an astounding spectacle about the history of the fort.
</p>
<img src="~/image/raj.jpg" class="img-thumbnail" alt="" width="500px" height="400px" /></img>
<br />
<i><b><h3>"The supreme instrument"</h3></b></i><br />
<b><h2>JANTAR MANTAR</h2></b>
<br />
<p>
    Rajasthan is known for it's architecture world over. The grand palaces of Rajasthan, the delicately scluptured temples etc. have already made a mark in the world of architecture and tourists from all over the world flock into Rajasthan to see and marvel these structures.One such structure situated in the capital city of Rajasthan- Jaipur, is Jantar Mantar.<br />
    The word Jantar(yantra) in hindi means instument while mantar(mantra) means calculation. Hence the name Jantar Mantar can be literally translated as an instrument for calculation.The Jantar Mantar observatory has 14 yantras or equipments constructed to read and predict astronomical events. It is said that one can predict the time of the day, eclipses and information on the revolution of various planets around the sun using the Jantar Mantar.The Jantar Mantar observatory in Jaipur constitutes the most significant and best preserved set of fixed monumental instruments built in India in the first half of the 18th century; some of them are the largest ever built in their categories.
</p>
<table align="center">
    <tr>
        <td>
            <button type="button" class="btn btn-success">BOOK NOW</button>
        </td>
    </tr>
</table>
