@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <abbr title="Phone"></abbr>
    180-087-087654<br />
    180-087-087754<br />
</address>

<address>
    <strong></strong><a href="shaziyabanu9082gmail.com">shaziyabanu9082gmail.com</a><br />
    <strong></strong> <a href="dhanalakshminagaraj259@gamil.com">dhanalakshminagaraj259@gamil.com</a><br />
    <strong></strong> <a href="arun@gamil.com">arun@gmail.com</a><br />
</address>

